@import url('./reset.css');


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');


:root {
    --span-orange:#FF8A56;
    --gray-color:#666;
}
a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}



.header {
    display: flex;
     /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;

   
    /*41 margin: 0 112.5px; */
    /* margin-left: 112.5px;
    margin-right: 112.5px;
    margin-top: 41px; */
    padding: 41px 112.5px 0;
}

.header a {
    color:#000;
    padding-right: 5px;
    /* background-color: red; */
}

.fa-bars-staggered {
    display: none;
}

@media(max-width:788px) {
    .header {
        /* background-color: red; */
        padding:41px 40px 0;
    }

    .fa-bars-staggered {
        display: flex;
    }

   header .nav-links {
        display: none;
    }
}


/* OVERLAY MENYUNUN YARADILMASI */

.overlay {
    background-color: rgba(0,0,0,.8);
    height: 100vh;

    position: fixed;
    width: 100%;
    overflow-x: hidden;
    
}

.overlay .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  

    height: 100%;


}

.overlay .nav-links a {
    color:#aaa;
    margin-bottom: 10px;
    font-size: 34px;
    transition: all 1.4s ease;
    

}


.overlay .nav-links a:hover {
    color:#fff;
    transform: translateX(70px);
   
}

.fa-xmark {
    
    position: absolute;
    top: 45px;
    right: 45px;
    color:#fff;
    font-size: 34px;
    cursor: pointer;
}

/* INTRODUCTION SECTION START */
.introduction {
    padding: 0 112.5px 0 112.5px;
    display: flex;
    justify-content: space-between;
}

.introduction > .intro-left-side > h1 {
    font-size: 4.5rem;
    font-weight: 700;
}

.introduction > .intro-left-side  h1 span {
    color: var(--span-orange);
}

.intro-left-side {
    padding-top: 117px;
    min-width: 560px;
}

.intro-right-side {
    padding-top: 70px;
    min-width: 500px;
    height: 500px;

}

.intro-right-side img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* INTRODUCTION SECTION END */

/* 991 768 576  */

@media(max-width:1200px) {
    .introduction {
        padding: 0 40px;
        flex-wrap: wrap;
    }

    .intro-left-side h1 {
        font-size: 2.5rem;
    }

    .intro-left-side {
        min-width: 560px;
    }

    .intro-right-side {
        min-width: 450px;
    }

  
}


@media(max-width:1108px) {
    .introduction {
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width:620px) {
    .intro-left-side h1 {
        font-size: 2.4rem !important;
        text-align: center;
    }

    .intro-left-side {
        min-width: 360px;
    }
}


.intro-left-side p {
color:var(--gray-color);
}

.book-a-call {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}


.book-a-call a:first-child {
    background-color: #222;
    width: 151px;
    height: 58px;
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
}